* { 
	scroll-behavior: smooth;
	background-color: black; /* ok so this code is problematic, 
	as it assigns bg colour to divs as well? Assign bg colour for every element */
	}

 img{
	background-color: transparent;
	z-index: 1;
} 


/* BianZhiDai by Xiaoyuan Gao, notyourtypefoundry. 
Distributed by velvetyne.fr.*/
@font-face {
	font-family: 'bianzhidai_base';
	src: url('/fonts/bianzhidai_base.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bianzhidai_cloud';
	src: url('/fonts/bianzhidai_Cloud.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bianzhidai_ring';
	src: url('/fonts/bianzhidai_Ring.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'bianzhidai_cube';
	src: url('/fonts/bianzhidai_Cube.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Karrik by Jean-Baptiste Morizot, Lucas Le Bihan. 
Distributed by velvetyne.fr.*/
@font-face {
	font-family: 'karrik-regular';
	src: url('/fonts/Karrik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	top: 10%;
	font-size: 3rem;
	margin-left: 10%;
	color: #FAF9F6;

}

.h1inverted{
	font-family: Georgia, 'Times New Roman', Times, serif;
	top: 10%;
	font-size: 3rem;
	margin-left: 10%;
	color: black
}

h2{
	font-family: 'karrik-regular';
	font-size: 2rem;
}

h3{
	font-family: 'karrik-regular';
	color: #FAF9F6;
	margin-left:  10%;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	background-color: transparent;
	color: #000;
	
}

.white{
	color: #FAF9F6;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10%;
}
/* For text and titles that need to be centered, they will be under this div*/
div.a {
	text-align: center;
	font-family: "karrik-regular";
	letter-spacing: 3px;
	top: 7%;
	font-size: 3rem;
	color: #FAF9F6;
  }  

/* this is for the text boxes in e1*/
.textbox {
  	border: 1.75px solid black;
  	padding: 3%;
	width: 30%;
  	margin-left: 10%;
	z-index: 2;
	background-color: #FAF9F6;
}

/* black text boxes*/
.textboxblack {
	border: 1.75px solid black;
	padding: 3%;
  	width: 50%;
	text-align: left;
	background-color: black;
	margin-left: 10%;
  	z-index: 2;
}

/* textboxes for info*/
.textboxI1 {
	margin-left: 60%;
	border: 1.75px solid black;
	padding: 5%;
	padding-bottom: 10%;
	padding-top: 10%;
	width: 30%;
	text-align: left;
	z-index: 2;
	background-color: #FAF9F6;
	color: transparent;
	position: relative;
}
.textboxI2 {
	margin-right: 10%;
	border: 1.75px solid black;
	padding: 5%;
	padding-bottom: 10%;
	padding-top: 10%;
	width: 30%;
	text-align: left;
	z-index: 2;
	background-color: #FAF9F6;
	position: relative;
}


  .basic1 {
	background-image: url(/images/blackholeinfo1.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center 50%;
	position: relative;
	margin-left: 0%;
  }

  .lf1{
	background-image: url(/images/spaceandstars.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center 50%;
	position: relative;
	margin-left: 0%;
  }

  .lf2{
	background-image: url(/images/lf1bh.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center 50%;
	position: relative;
	margin-left: 0%;
  }

  .lf3{
		background-image: url(/images/supernova.jpeg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center 50%;
		position: relative;
		margin-left: 0%;
	  }
  

  /* For the jump links, add soem sort of indicator that you jumped to them */


/* this is for the experience section, made initially for e1*/

/* Breakpoints */
@media (max-width: 700px) {
	p{
		font-family: "karrik-regular";
		font-size: 1rem;
		line-height: 1.5;
		color: #000000;
		background-color: #FAF9F6;
		} 
		.textbox {
			border: 1.75px solid black;
			padding: 3%;
			width: 40%;
			margin-left: 10%;
			z-index: 2;
			background-color: #FAF9F6;
	  }
	  
}

@media (min-width: 600px){	
p{
	font-family: "karrik-regular";
	font-size: 1.25rem;
	line-height: 1.5;
	color: #000000;
	background-color: #FAF9F6;
	} 
	  /*Sidebar for experience pages, when smaller, it will be in the dropdown*/
	  .sidenav {
		border: 1.75px solid #f00000;
		margin-left: 3%;
		margin-top: 14%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		color: #000;
		background-color: #FAF9F6;
		overflow-x: hidden;
		padding-bottom: 1.25%;
		z-index: 2;
	  }
	  
	  .sidenav a {
		font-family: Georgia, 'Times New Roman', Times, serif;
		margin-left: -22%;
		position: relative;
		padding: 15px 6px 6px 30px;
		text-decoration: none;
		font-size: 1.5rem;
		background-color: #FAF9F6;
		color: #000000;
		display: block;
		z-index: 2;
	  }
	  
	  .sidenav a:hover {
		color: #F0D760;
	  }

}

/* for the buttons to advance, in the experience section*/
.advancebtn {
	font-size: 1.25rem;
	position: relative;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px 20px;
	margin: 5px;
	background-color: #F0D760;
	border: 1.75px solid #f00000;
	cursor: pointer;
}
.advancebtn:hover {
	background-color: #F00000;
	color: #FAF9F6;
  }

  /* div to center buttons (advancebtns), maybe probably likely will change*/
  .center {
	background-color: transparent;
	position: fixed;
	bottom: 5%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }


/* Dropdown menu*/
  .box {
        width: 120px;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        color: #1c87c9;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 4px 4px #ccc;
      }
  
  /*for homepage buttons */
  .grid-container {
	z-index: 2;
	background-color: transparent;
	display: grid;
	place-items: center;
	height: 100vh;
	grid-template-columns: auto auto auto;
	gap: 10px;
	padding: 10px;
  }

  .grid-container > div {
	background-color: transparent;
	text-align: center;
	padding: 1% 1%;
	font-size: 1.5rem;
  }

  div.relative {
	position: relative;
	left: 0px;
  
  }

  .item1 {
	grid-row-start: 1;
	grid-row-end: 3;
  }

   .btn1 {
	font-size: 150%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 10px 20px;
	margin: 5px;
	background-color: #FAF9F6;
	color: rgb(0, 0, 0);
	border: 1.5px solid black;
	border-color: black;
	cursor: pointer;
	text-align: center;
  }
	.btn1:hover {
	border: 1.5px solid black;
	background-color: #7f7e7c;
  }
 
  
  




		