
	/*
	the *{} command is basically just the style command but to be used within style commands.
	it can be used for making global adjustments to your webpage. 
	the p{} commands is making global adjustments, but only for the text in tou website.

	remember, this all only works because it is in a style.css file. The style.css file is 
	basically if you were to use a style command, but you put it in a seperate sheet altoghether.
	Put this file into your webpage's folder and link to it in your actual file using
	this	 <link rel="stylesheet" href="css/style.css">	 command. 
	*/
* { 
	background-color: rgb(160, 84, 247);
	scroll-behavior: smooth;
	color:azure;
	
	}

p{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 125%;
	color: rgb(234, 255, 0);
	line-height: 1.5;
	word-spacing: -10%;

	} 

		